.banner {
    background-image: url("../../public/assets/img/banner.jpg");
    background-size: cover;
    padding: 70px 0 80px 0;
}

.homeclass {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sliderh1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
}

.inputform {

    border: none !important;
    outline: none !important;
    border-style: none !important;
    font-size: 14px !important;
    border-radius: 0 !important;
    height: 48px !important;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

.divinputform {
    width: 25% !important;
}

.formbanner {
    padding: 6% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}




.buttonsearch {
    margin: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    background: #ffb900;
    color: #000;
    font-weight: bold;
    padding: 0px 26px;
    display: block;
    height: 100% !important;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    /* padding: 13px 97px 12px 0; */
    background: #ffb900;
    color: #000;
    font-weight: bold;
    padding: 0px 38px;
    display: block;
    text-align: center;
    height: 100% !important;
    justify-content: center;
    align-items: center;
}

.text1 {}

.footerclass {
    zoom: 80%;
    font-size: 22px;
    text-transform: capitalize;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    height: 240px !important;
    background: #121111;
    padding: 3%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

.listabox {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

.listaclassbox {
    list-style: none;
    visibility: visible;
    width: 32%;
    animation-name: fadeInUp;
    margin-top: 30px;
    background: #fff;
    padding: 18px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.stylebutton1 {
    color: #ffb900;
    content: "" !important;
    background: #ffb900;
    width: 40px;
    height: 15%;
    top: 0;
    right: -15px;
}

.diagonalstyle {
    color: #ffb900;
    content: "" !important;
    background: #ffb900;
    z-index: 0;
    width: 40px;
    height: 3%;
    transform: skew(-30deg);
    position: absolute;
    top: 25;
    right: 746px;
}

.buttonb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 5%;
}

.pictureProp {

    width: 90%;
}

.margintop5 {
    margin-top: 5%;
}

.pictureProp:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease 0s;
    width: 100%;
    margin-top: -3%;
}

.featuredprop {
    margin: 50px;
}

.featuredproptext {
    margin-bottom: 40px;
}

.titletext {
    font-size: 46px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    line-height: 1.2;
}

.text2 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.buyorsell {
    display: flex;
    background: url(http://malikhassan.com/html/evernest/images/house-bg.jpg) no-repeat top;
    text-align: center;
    background-size: cover;
    padding: 70px 0 80px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.divbuttonsbuyorsell {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.text4 {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid transparent;
    color: #000;
    display: inline-block;
    font-weight: 400;
    background: #ffb900;
}

.popularplaces {
    margin-top: 5%
}


.proptorent {
    margin-top: 5%
}

.footer1 {
    width: 25%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-start;
}

.text14 {
    font-size: 14px;
}

.buttonch {
    margin: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background: #ffb900;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    height: 100% !important;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
}



.footer2 {
    width: 25%;
    margin-right: 50px;
}

.footer3 {
    width: 25%;
    margin-right: 50px;
}


.footer4 {
    width: 25%;
    margin-right: 50px;
}