.banner {
    background-image: url("../../public/assets/img/banner.jpg");
    background-size: cover;
    padding: 70px 0 80px 0;
}


.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.homeclass {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sliderh1 {
    font-size: 60px;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
}

.sliderh2 {
    font-size: 46px;
    color: #fff !important;
    font-weight: bold;
}

.textwhite {
    color: #fff !important;
    font-size: 14px;
    font-style: italic;
    padding: 0 150px;
    line-height: 26px;
    margin-top: 25px;
}

.inputform {

    border: none !important;
    outline: none !important;
    border-style: none !important;
    font-size: 14px !important;
    border-radius: 0 !important;
    height: 48px !important;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

.divinputform {
    width: 25% !important;
}

.formbanner {
    padding: 6% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.socialmedia {
    zoom: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    padding-right: 1px;
    color: white;
}

.sm {
    margin-right: 3px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
}

.divphone {
    display: flex;
    align-items: center;
}


.smp {
    margin-right: 3px;
    font-size: 14px;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.buttonsearch {
    margin: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    background: #ffb900;
    color: #000;
    font-weight: bold;
    padding: 0px 26px;
    display: block;
    height: 100% !important;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    background: #ffb900;
    color: #000;
    font-weight: bold;
    padding: 0px 38px;
    display: block;
    text-align: center;
    height: 100% !important;
    justify-content: center;
    align-items: center;
}

.text1 {}

.footerclass {
    zoom: 80%;
    font-size: 22px;
    text-transform: capitalize;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    height: 240px !important;
    background: #121111;
    padding: 3%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
}

.listabox {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

.listaclassbox {
    list-style: none;
    visibility: visible;
    width: 32%;
    animation-name: fadeInUp;
    margin-top: 30px;
    background: #fff;
    padding: 18px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.stylebutton1 {
    color: #ffb900;
    content: "" !important;
    background: #ffb900;
    width: 40px;
    height: 15%;
    top: 0;
    right: -15px;
}

.diagonalstyle {
    color: #ffb900;
    content: "" !important;
    background: #ffb900;
    z-index: 0;
    width: 40px;
    height: 3%;
    transform: skew(-30deg);
    position: absolute;
    top: 25;
    right: 746px;
}

.buttonb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 5%;
}

.margintop5 {
    margin-top: 5%;
}

.pictureProp {
    width: 90%;
}



.pictureProp:hover {
    -webkit-transform: scale(1);
    transform: scale(1.05);
    -webkit-transition: all 0.5s ease 0s;
}

.featuredprop {
    margin: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.featuredproptext {
    margin-bottom: 40px;
}

.titletext {
    font-size: 46px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    line-height: 1.2;
}

.text2 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.buyorsell {
    display: flex;
    background: url(http://malikhassan.com/html/evernest/images/house-bg.jpg) no-repeat top;
    text-align: center;
    background-size: cover;
    padding: 70px 0 80px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.divbuttonsbuyorsell {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.text4 {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid transparent;
    color: #000;
    display: inline-block;
    font-weight: 400;
    background: #ffb900;
}

.popularplaces {
    zoom: 90%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


.proptorent {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.footer1 {
    width: 25%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-start;
}

.text14 {
    font-size: 14px;
}

.subtitle {
    cursor: pointer;
    text-align: start;
    margin-left: 18px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: normal;
}


.subtitle:hover {
    transition: all .3s ease;
    color: #ffb900;
}

.location {
    margin-left: 5px;
    text-align: start;
    font-size: 14px;
    color: #b9b9b9;
}

.price {
    text-align: start;
    font-size: 20px;
    color: #ffb900;
    font-weight: bold;
    margin-left: 15px;
}

.hearticon {
    font-size: 14px;
    color: #a5a5a5;
    width: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    height: 30px;
    border: 1px solid #f0efef;
    background: #f9f9f9;
    margin: 3px;
}

.priceandheart {
    display: flex;
    margin-left: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.properinfo {
    text-align: start;
    font-size: 12px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    margin-top: 5px;
}

.displaynone {
    display: none;
}

.opacitytransp {
    opacity: 0;
}



.threeparts {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.t1 {
    /* background-color: yellow; */
}

.t2 {
    /* background-color: blue; */
    display: flex;

}

.t3 {
    /* background-color: red; */

}

.p12 {
    /* background-color: red; */
    width: 500% !important;

}

.p3 {
    /* background-color: rgb(72, 0, 255); */
    width: 231%;

}

.imglit {
    width: 98.8%;
    margin-bottom: 4%;
    margin-left: 5%;
}

.imglit2 {
    width: 92.5%;
    margin: 2%;
}

.imgbig {
    width: 96%;
}


/* .mask {
    position: absolute;
    width: 648px;
    height: 391px;
    transform: translate(30px, 20px) rotate(90deg);
    
} */


.mask:hover {
    opacity: 0.5;
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -270px;
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 0;
    width: 96%;
    -webkit-transform: skewX(-36.01deg);
    -ms-transform: skewX(-36.01deg);
    transform: skewX(-36.01deg);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    z-index: 0; */
}




.buttonch {
    margin: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background: #ffb900;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    height: 100% !important;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
}



.footer2 {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    width: 35%;
    margin-right: 50px;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    color: #6B6B6B;
    font-size: 16px;
    margin: 0;
    line-height: 50px;
}

.footer3 {
    text-decoration: none;
    margin-top: 5% !important;
    font-family: 'Open Sans', sans-serif;
    width: 85%;
    color: #6B6B6B;
    font-size: 16px;
    margin: 0;
    line-height: 30px;
}

.linkfooter {
    width: 90%;
    color: #6B6B6B !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


.footer4 {
    width: 25%;
    margin-right: 50px;
}

.aboutus {
    background-image: url('https://www.ankararealestate.mx/wp-content/uploads/2022/01/modern-interior-meeting-room-of-marketing-office-with-evening-sunset-empty-large-loft-style-conference-space-with-chairs-and-tables-furniture-and-clean-glass-windows-scaled.jpg');
    background-position: center;
    background-size: cover;
    padding: 170px 0px;
    margin: 0px !important;
}


.textaboutus {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    background: #2A2A2A;
    border-bottom: 4px solid #ECAC48;
    display: inline-block;
    font-weight: bold;
    padding: 9px 45px;
}

.infoaboutus {
    background-image: url('https://www.ankararealestate.mx/wp-content/themes/apartvilla/img/resources/gray-texture.jpg');
    padding: 45px 0px;

}



.whtsimag {
    color: #25D366;
    vertical-align: middle;
    width: 5%;
    border-style: none;
    position: fixed;
    right: 20px;
    bottom: 74px;
    z-index: 7000;
}

.githubimag {
    width: 10%;
    margin-left: 5%;
}

.galleryimg {
    background-image: url("https://www.ankararealestate.mx/wp-content/uploads/2022/01/Casa_Los-Arboles-18-1-scaled.jpg");
    zoom: 80%;
}

.barvertical {
    padding: 5% 2%;
    padding-bottom: 25%;
    background-color: orange;
    opacity: 0.9;
    width: 16%;
    margin: 0px 8%;
    border-color: white;
    border-top-color: white;
}

.zoom120 {
    zoom: 180%;
}

.width120 {
    width: 105%;
}

.margin10 {
    margin: 10% 0%;
}

.bvtitle {
    padding: 10% 0%;
    margin: 10% 0%;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: 0.2px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
    border-top: solid;
    border-top-color: white;
}

.bvdesc {
    padding: 10% 0%;
    margin: 10% 0%;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border: 0.2px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
    border-top: solid;
    border-top-color: white;
}

.bvprice {
    padding: 10% 0%;
    margin: 10% 0%;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border: 0.2px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
    border-top: solid;
    border-top-color: white;
}

.divimgprop {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin: 10%;
    padding-left: 10%; 
}

.imgpropimag {
    height: 500px !important;
}

.descriptiongraltotal {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.descriptiongral {
    margin-left: 6% !important;
    margin-right: 6% !important;
}

.textitalic {
    font-size: 34px;
    color: #cf7c30;
    line-height: 1.25;
    text-align: center;
    font-family: Bad Script;
    font-weight: 400;
    font-style: normal;
    width: 70%;
    margin-left: 16%;
}

.contactcontainer{
    background: #EAEBED;
        padding: 80px 0;
}

.imgpropimag2{
    position: absolute;
    padding-top: 1%;
}

.iconspropr{
    zoom: 85%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
}

.uliconprop{
    display: flex;
    justify-content: flex-end;
}

.liicon{
    padding-right: 8%  !important;
}

.carousel-item {
display: none;
}

.active{
    display: block !important;
}